<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
      <ion-label>Temp</ion-label>
      <ion-input type="text" [(ngModel)]="name" text-right id="input" ></ion-input>
    </ion-item>

</ion-content>
