<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>Valor 1</ion-label>
      <ion-input [(ngModel)]="valor1" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Valor 2</ion-label>
      <ion-input [(ngModel)]="valor2" type="number"></ion-input>
    </ion-item>

  </ion-list>

  <ion-radio-group>
    <ion-item>
      <ion-label>Cartesianas</ion-label>
      <ion-radio (click)='cambiarTipo(1)' [(ngModel)]="cartesianas" value="cartesianas"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Polares</ion-label>
      <ion-radio (click)='cambiarTipo(2)' [(ngModel)]="polares" value="polares"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-button (click)='convertir()' expand="block">Convertir</ion-button>
  
  <ion-label>Resultado:{{resultado}}</ion-label>


</ion-content>
